<!DOCTYPE html>
<link rel="icon" href="https://cdn.discordapp.com/avatars/884635575032897537/bb0ea6e638e6af558b3570f6873c7985.png?size=64">
<html>
  <head>
    <title>Vithron</title>
    <link rel="icon" href="https://cdn.discordapp.com/avatars/884635575032897537/89424d67ceb481fa6ad2613e3037ae43.png?size=128">
    <link rel="stylesheet" type="text/css" href="static/index.css?index=1"/>
  </head>
 <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
  <body>
    <ul>
    <li>
    <a href="/">Home</a></li>
    <li><a class="active" href="/dashboard">Guilds</a></li>
    <li><a href="/logout">Logout</a></li>
    </ul>
    <div class="card">
    <a href="logout">
    <img src="{{user.avatar_url}}">
    </a>
    </div>
    <div class="picker">
      <h3><p align="center" style="font-family:'Courier New'"><b>Please select a server to get started</b></p></h3>
      <br>
      <hr />
      <br>
      <section class="cards">
        {% for guild in guilds %}
        <div class="card">
          <a href="/dashboard/{{guild.id}}">
            {% if guild.icon_url is not none %}
            <img src="{{guild.icon_url}}" class="{{guild.class_color}}" />
            {% else %}
              <img
                src="https://media.discordapp.net/attachments/843081057506426880/927905908078563339/discord-metro-style-icon-0.png?width=499&height=499"
                class="{{guild.class_color}}"
              />
            {% endif %}
          </a>
          <br />
          <p align="center" style="font-family:'Courier New'">
          {{ guild.name }}
          </p>
        </div>
        {% endfor %}
      </section>
    </div>
  </body>
</html>
