<!DOCTYPE html>
<html>
  <head>
    <title>Voithos helper</title>
    <link rel="icon" href="https://cdn.discordapp.com/avatars/805030662183845919/70fee8581891e9a810da60944dc486ba.webp?size=128">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
  </head>
<script language="javascript" type="text/javascript">
    function buttonClick(){
    var url = document.getElementById("inputURL").value;
    var channel = document.getElementById("inputChannel").value;
    window.location = "https://voithos.webdashboard.repl.co/playsong/{{guild.id}}/"+url;
    }
    function buttonClickOne(){
    var url = document.getElementById("inputURL").value;
    var channel = document.getElementById("inputChannel").value;
    window.location = "https://voithos.webdashboard.repl.co/pausesong/{{guild.id}}/"+url;
    }
    function buttonClickTwo(){
    var url = document.getElementById("inputURL").value;
    var channel = document.getElementById("inputChannel").value;
    window.location = "https://voithos.webdashboard.repl.co/loopsong/{{guild.id}}/"+url;
    }
    function buttonClickThree(){
    var url = document.getElementById("inputURL").value;
    var channel = document.getElementById("inputChannel").value;
    window.location = "https://voithos.webdashboard.repl.co/stopsong/{{guild.id}}/"+url;
    }
</script>
  <style>
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
  <body>
    <ul>
    <li>
    <a href="/">Home</a></li>
    <li><a href="/dashboard">Guilds</a></li>
    <li><a class="active" href="/dashboard/{{guild.id}}/commands">{{guild.name}} commands</a></li>
    <li><a class="active" href="/dashboard/{{guild.id}}/music">Music menu</a></li> 
    <li><a href="/logout">Logout</a></li>
    </ul>

    <p align="center" style="font-family:'Courier New'">
      
    <b>{{ guild.name }}</b>
    </p>
        <div class="card">
            <a href="https://voithos.webdashboard.repl.co/dashboard">
            {% if guild.icon_url is not none %}
            <img src="{{guild.icon_url}}" class="{{guild.class_color}}" />
            {% else %}
            <img
              src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"
              class="{{guild.class_color}}"
            />
            {% endif %}
            </a>
          <br>
        </div>
        <hr>
        <br>
        <br>
        <label for="iprefix" style="font-family:'Courier New'">State a song : </label>
        <input type="text" id="inputChannel" name="inputChannel" value="Channel id/Channel name"><br>
        <br>
        <input type="text" id="inputURL" name="inputURL" value="Song name"><br>
        <br>
        <input type="button" value="▶️" OnClick="buttonClick()" style="font-family:'Courier New'"/>
        <input type="button" value="⏸️" OnClick="buttonClickOne()" style="font-family:'Courier New'"/>
        <input type="button" value="🔁" OnClick="buttonClickTwo()" style="font-family:'Courier New'"/>
        <input type="button" value="🛑" OnClick="buttonClickThree()" style="font-family:'Courier New'"/>
  </body>
</html>
