<!DOCTYPE html>
<link rel="icon" href="https://cdn.discordapp.com/avatars/884635575032897537/bb0ea6e638e6af558b3570f6873c7985.png?size=64">
<html>
  <head>
    <title>Vithron</title>
    <link rel="icon" href="https://cdn.discordapp.com/avatars/884635575032897537/89424d67ceb481fa6ad2613e3037ae43.png?size=128">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
  </head>
<script language="javascript" type="text/javascript">
    function buttonClick(){
    var url = document.getElementById("inputURL").value;
    window.location = "https://voithos.webdashboard.repl.co/changeprefix/{{guild.id}}/"+url;
    }
</script>
  <style>
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
  <body>
    <ul>
    <li>
    <a href="/">Home</a></li>
    <li><a href="/dashboard">Guilds</a></li>
    <li><a class="active" href="/dashboard/{{guild.id}}">{{guild.name}}</a></li>
    <li><a class="active" href="/dashboard/{{guild.id}}/prefixes">Prefix menu</a></li> 
    <li><a href="/logout">Logout</a></li>
    </ul>

    <p align="center" style="font-family:'Courier New'">
      
    <b>{{ guild.name }}</b>
    </p>
        <div class="card">
            <a href="https://voithos.webdashboard.repl.co/dashboard">
            {% if guild.icon_url is not none %}
            <img src="{{guild.icon_url}}" class="{{guild.class_color}}" />
            {% else %}
              <img
                src="https://media.discordapp.net/attachments/843081057506426880/927905908078563339/discord-metro-style-icon-0.png?width=499&height=499"
                class="{{guild.class_color}}"
              />
            {% endif %}
            </a>
          <br>
        </div>
        <hr>
        <label for="cprefix" style="font-family:'Courier New'">The {{guild.name}} current prefix is {{prefix}} </label>
        <br>
        <br>
        <label for="iprefix" style="font-family:'Courier New'">State a prefix : </label>
        <input type="text" id="inputURL" name="inputURL" value="New Prefix"><br>
        <br>
        <input type="button" value=" Change prefix " OnClick="buttonClick()" style="font-family:'Courier New'"/>
  </body>
</html>
